@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $white-color;
    border-radius: 4px;

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
        margin-left: 36px;
        width: 70%;

        @include onMobile {
            margin: 32px 0 28px 24px;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 33px;
    margin: 20px 36px 19px 0;

    @include onMobile {
        margin: 17px 18px 22px 0;
    }

    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $switcher-off;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16.5px;

    &:before {
        position: absolute;
        content: "";
        height: 28px;
        width: 28px;
        left: 5px;
        bottom: 2.5px;
        background-color: $general-color;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;

    }
}

.checkbox:checked+.slider {
    background: rgba(0, 179, 219, 0.12);
}

.checkbox:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}